# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# venv
.venv/
venv/

# PyInstaller output
dist/
*.spec.bak
build/macroflow-win/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
